<?xml version="1.0"?>
<config>
    <modules>
        <Ducpd_Vendors>
            <version>1.0.1</version>
        </Ducpd_Vendors>
    </modules>
    <frontend>
        <routers>
            <Vendors>
                <use>standard</use>
                <args>
                    <module>Ducpd_Vendors</module>
                    <frontName>vendors</frontName>
                </args>
            </Vendors>
        </routers>
        <layout>
            <updates>
                <ducpd_vendors>
                    <file>ducpd_vendors.xml</file>
                </ducpd_vendors>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ducpd_vendors>
                <class>Ducpd_Vendors_Model</class>
                <resourceModel>ducpd_vendors_resource</resourceModel>
            </ducpd_vendors>
            <ducpd_vendors_resource>
                <class>Ducpd_Vendors_Model_Resource</class>
                <entities>
                    <vendor>
                        <table>ducpd_vendor</table>
                    </vendor>
                </entities>
            </ducpd_vendors_resource>
        </models>
        <resources>
            <ducpd_vendors_setup>
                <setup>
                    <module>Ducpd_Vendors</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </ducpd_vendors_setup>
        </resources>
    </global>
</config>